header {
    position: relative;
    top: 0px;
    margin: 0px;
    background-color: #ddd;
}

body {
    margin: 0px;
    background-color: #eee;
    color: #444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin: 0px;
    padding: 20px;
    font-variant: small-caps;
}

h2 {
    background-color: cornflowerblue;
    color: whitesmoke;
    padding:5px;
}

li{
    margin: 10px 0;
}

div.container {
    padding: 20px;
}

.logo {
    text-decoration: none;
}